.navBar {
    height: 50px;
    background: #282653;
    width: 100%;
    margin-bottom: 10px;
}

.navBar ul {
    list-style-type: none;
    width: 90%;
    margin: 0;

    font-size: .75rem;
    font-weight: 400;
    color: #95A2AA;
}

.navBar li {
    float: left;
    height: 55px;
}

.navBar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 18px 16px;
}

.navBar a:active {
    color: blue;
    background: #00FFFF;

}
.navBar a:hover {
    display: block;
    background: #7F56C5;
    color: #FFFFFF;
}