.navBar {
    height: 50px;
    background: #282653;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

ul {
    font-size: .75rem;
    font-weight: 400;
    color: #95A2AA;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0;
    width: 90%;
    margin: auto;
}

li {
    float: left;
}

a {
    display: block;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
    color: white;
}

a:active {
    color: blue;
    background: #00FFFF;

}
a:hover {
    display: block;
    background: #7F56C5;
    color: #FFFFFF;
}