* {
    font-family: Arial;
}

.dataTableContainer { 
    width: 100%;
    float: left;
}

.dataTable {
    width: 90%; 
    margin: auto;
    text-align: left;
}

table th{
    height: 32px;
    background: #CACBCE;
    font-size: .75rem;
    font-weight: 700;
    color: #95A2AA;
    padding-left: 10px;
}

table th:first-child{
    border-radius: 3px 0px 0 0;
}
  
table th:last-child{
    border-radius: 0px 3px 0 0;
}

table tr {
    height: 32px;
    font-size: .75rem;
    font-weight: 400;
    color: #808285;

}

table td {
    padding-left: 10px;
}

table tr:nth-child(even) {
    background: #F0F0F0;
}

table tr:nth-child(odd) {
    background: #F7F7F7;
}

.controls {
    width: 90%; 
    margin: auto;
    margin-bottom: 10px;
}

.listHeader {
    font-size: 1rem;
    font-weight: 400;
    color: #7F56C5;
}

.pipeDivider {
    font-size: 1rem;
    font-weight: 300;
    color: #BCBEC0;
}

.pagination {
    font-size: .875rem;
    font-weight: 700, 400, 700;
    color: #7F56C5;
}

.arrows {
    color: #1DAFE9;
    border: none;
}

select {
    border: 0;
    font-size: .875rem;
    background: none;
    color:  #1DAFE9;
    overflow: hidden;
}